<IDOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Gallery</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="full-img" id="fullImgbox">
            <img src="images/image-1.jpg" id="fullImg">
            <span onclick="closeFullImg()">X</span>
        </div>
        <div class="images-gallery">
            <img src="images/image-1.jpg" onclick="openFullImg(this.src)">
            <img src="images/image-2.jpg" onclick="openFullImg(this.src)">
            <img src="images/image-3.jpg" onclick="openFullImg(this.src)">
            <img src="images/image-4.jpg" onclick="openFullImg(this.src)">
            <img src="images/image-5.jpg" onclick="openFullImg(this.src)">
            <img src="images/image-6.jpg" onclick="openFullImg(this.src)">
        </div>

        <script>
           var fullImgbox = document.getElementById(fullImgbox);
           var fullImg = document.getElementById(fullImg);

           function openFullImg(pic) {
            fullImgbox.style.display = "flex";
            fullImg.src = pic
           }
        </script>
    </body>
</html>